<div class="bg-light p-5">
    <div class="container" style="color:crimson; background-color:khaki;">
        <h1 class="display-4">Metenin Dünyası</h1>
        <p class="lead">En Güncel Filmler</p>
    </div>
</div>